{%extends 'all-images/base.html'%}

{% block content %}
{{block.super}}


<div class="container">

    <!-- Looping through images  -->
    {% for images_item in images %}
  
    <div class="container-1">
      <!-- displaying Images posts -->
        <h2> {{ images_item.title }} </h2>
      <!--Display  images  -->
        <img src="{{images_item.post_image.url}}"style="width:1000px;height:500px;" class="img-responsive" alt="Image">
        <a style="color:black;font-size: 20px;"href="imagedetails.html/">Details.</a>
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No images</h2>
    </div>
    {% endfor %}
  
  </div>
{% endblock %}